$fs-1:12px;
$fs-2:14px;
$fs-3:16px;
$fs-4:20px;
$fs-5:25px;
$fs-6:40px;
$fs-7:30px;

$color-black:#000;
$color-white:#fff;
$color-grey:#999;
$color-blue:#00ADEF;
$color-brown:#1D1D1D;
$color-black-op0:rgba(0,0,0,0.5);
$color-black-op1:rgba(0,0,0,0.8);


$pd-1:5px;
$pd-2:10px;
$pd-3:20px;
$pd-4:30px;
$pd-5:40px;
$pd-6:50px;
$pd-7:100px;


$mg-1:5px;
$mg-2:10px;
$mg-3:20px;
$mg-4:30px;
$mg-5:40px;
$mg-6:50px;