#gallery {
    background-color: $color-black;
    padding-top: $pd-6;
    pading-bottom: $pd-6;
    .gallery__menu {
        .nav {}
        .nav-item {
            background: linear-gradient(#303030, #202020);
            border: 1px outset #202020;
        }
        .nav-link {
            color: $color-grey;
            font-size: $fs-1;
        }
        .active {
            color: $color-blue;
        }
    }
    .gallery__item {
        color: $color-white;
        position: relative;
        .gallery__item__content {
            width: 100%;
            background-color: $color-black-op0;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $pd-1 $pd-3;
            transition: 0.5s;
        }
        &:hover {
            .gallery__item__content {
                padding-bottom: $pd-7;
                background-color: $color-black-op1;
            }
        }
    }
    .gallery__item-left {
        padding-right: 3px !important;
        padding-bottom: 5px !important;
    }
    .gallery__item-right {
        padding-bottom: 2px !important;
    }
}