#subMenu {
    background-color: $color-brown;
    .nav-link {
        color: $color-grey;
        padding: $pd-4 $pd-3;
        font-size: $fs-2;
        &:hover {
            color: $color-blue;
            cursor: pointer;
        }
    }
    .navbar-toggler {
        span {
            color:$color-white;
            i {
                padding-left:$pd-2;
            }
        }
    }
}